In [1]:
import pandas as pd
import numpy as np

In [2]:
%%time
dti = pd.date_range('2020-01-01',periods = 5000000,freq='5T')
id = np.random.randint(1,501,size = 5000000)

df = pd.DataFrame({
    'id':id,
    'date':dti
}
)
df.sort_values(by = ['id','date'],ascending=[True,False],inplace=True)

Wall time: 4.55 s

In [3]:
%%time
df

Wall time: 0 ns

          id                date
4999943    1 2067-07-13 21:55:00
4998309    1 2067-07-08 05:45:00
4998133    1 2067-07-07 15:05:00
4997699    1 2067-07-06 02:55:00
4996258    1 2067-07-01 02:50:00
...      ...                 ...
2150     500 2020-01-08 11:10:00
920      500 2020-01-04 04:40:00
620      500 2020-01-03 03:40:00
325      500 2020-01-02 03:05:00
127      500 2020-01-01 10:35:00

[5000000 rows x 2 columns]

In [4]:
%%time
std = pd.Timedelta('4 days')
df['date_shift'] = df.groupby(['id'])['date'].shift(periods = 1)
df['date_diff'] = df['date_shift'] - df['date']
df['date_diff'] = (df['date_diff'] - std) > pd.Timedelta('0 days')
df['diff'] = np.where(df['date_diff'] == True,1,0)
df['diff_cumsum'] = df.groupby(['id'])['diff'].cumsum()
df['new_id_surfix'] = df['diff_cumsum'] + 1
df['new_id'] = df['id'].astype(str) + '-' + df['new_id_surfix'].astype(str)
df.head(50)

Wall time: 7.52 s

,id,date,date_shift,date_diff,diff,diff_cumsum,new_id_surfix,new_id
4999943,1,2067-07-13 21:55:00,NaT,False,0,0,1,1-1
4998309,1,2067-07-08 05:45:00,2067-07-13 21:55:00,True,1,1,2,1-2
4998133,1,2067-07-07 15:05:00,2067-07-08 05:45:00,False,0,1,2,1-2
4997699,1,2067-07-06 02:55:00,2067-07-07 15:05:00,False,0,1,2,1-2
4996258,1,2067-07-01 02:50:00,2067-07-06 02:55:00,True,1,2,3,1-3
4995761,1,2067-06-29 09:25:00,2067-07-01 02:50:00,False,0,2,3,1-3
4995240,1,2067-06-27 14:00:00,2067-06-29 09:25:00,False,0,2,3,1-3
4995055,1,2067-06-26 22:35:00,2067-06-27 14:00:00,False,0,2,3,1-3
4994957,1,2067-06-26 14:25:00,2067-06-26 22:35:00,False,0,2,3,1-3
4994917,1,2067-06-26 11:05:00,2067-06-26 14:25:00,False,0,2,3,1-3
4994372,1,2067-06-24 13:40:00,2067-06-26 11:05:00,False,0,2,3,1-3
4991257,1,2067-06-13 18:05:00,2067-06-24 13:40:00,True,1,3,4,1-4
4989374,1,2067-06-07 05:10:00,2067-06-13 18:05:00,True,1,4,5,1-5
4988907,1,2067-06-05 14:15:00,2067-06-07 05:10:00,False,0,4,5,1-5
4987175,1,2067-05-30 13:55:00,2067-06-05 14:15:00,True,1,5,6,1-6
4986423,1,2067-05-27 23:15:00,2067-05-30 13:55:00,False,0,5,6,1-6
4984301,1,2067-05-20 14:25:00,2067-05-27 23:15:00,True,1,6,7,1-7
4982606,1,2067-05-14 17:10:00,2067-05-20 14:25:00,True,1,7,8,1-8
4982563,1,2067-05-14 13:35:00,2067-05-14 17:10:00,False,0,7,8,1-8
4982447,1,2067-05-14 03:55:00,2067-05-14 13:35:00,False,0,7,8,1-8
4981945,1,2067-05-12 10:05:00,2067-05-14 03:55:00,False,0,7,8,1-8
4980936,1,2067-05-08 22:00:00,2067-05-12 10:05:00,False,0,7,8,1-8
4980808,1,2067-05-08 11:20:00,2067-05-08 22:00:00,False,0,7,8,1-8
4980048,1,2067-05-05 20:00:00,2067-05-08 11:20:00,False,0,7,8,1-8
4979356,1,2067-05-03 10:20:00,2067-05-05 20:00:00,False,0,7,8,1-8
4978957,1,2067-05-02 01:05:00,2067-05-03 10:20:00,False,0,7,8,1-8
4978743,1,2067-05-01 07:15:00,2067-05-02 01:05:00,False,0,7,8,1-8
4978641,1,2067-04-30 22:45:00,2067-05-01 07:15:00,False,0,7,8,1-8
4978631,1,2067-04-30 21:55:00,2067-04-30 22:45:00,False,0,7,8,1-8
4978447,1,2067-04-30 06:35:00,2067-04-30 21:55:00,False,0,7,8,1-8
4978298,1,2067-04-29 18:10:00,2067-04-30 06:35:00,False,0,7,8,1-8
4978240,1,2067-04-29 13:20:00,2067-04-29 18:10:00,False,0,7,8,1-8
4978077,1,2067-04-28 23:45:00,2067-04-29 13:20:00,False,0,7,8,1-8
4977020,1,2067-04-25 07:40:00,2067-04-28 23:45:00,False,0,7,8,1-8
4976207,1,2067-04-22 11:55:00,2067-04-25 07:40:00,False,0,7,8,1-8
4976017,1,2067-04-21 20:05:00,2067-04-22 11:55:00,False,0,7,8,1-8
4975274,1,2067-04-19 06:10:00,2067-04-21 20:05:00,False,0,7,8,1-8
4975256,1,2067-04-19 04:40:00,2067-04-19 06:10:00,False,0,7,8,1-8
4974379,1,2067-04-16 03:35:00,2067-04-19 04:40:00,False,0,7,8,1-8
4974260,1,2067-04-15 17:40:00,2067-04-16 03:35:00,False,0,7,8,1-8
4974181,1,2067-04-15 11:05:00,2067-04-15 17:40:00,False,0,7,8,1-8
4973282,1,2067-04-12 08:10:00,2067-04-15 11:05:00,False,0,7,8,1-8
4972946,1,2067-04-11 04:10:00,2067-04-12 08:10:00,False,0,7,8,1-8
4971464,1,2067-04-06 00:40:00,2067-04-11 04:10:00,True,1,8,9,1-9
4971455,1,2067-04-05 23:55:00,2067-04-06 00:40:00,False,0,8,9,1-9
4969954,1,2067-03-31 18:50:00,2067-04-05 23:55:00,True,1,9,10,1-10
4969821,1,2067-03-31 07:45:00,2067-03-31 18:50:00,False,0,9,10,1-10
4969548,1,2067-03-30 09:00:00,2067-03-31 07:45:00,False,0,9,10,1-10
4969445,1,2067-03-30 00:25:00,2067-03-30 09:00:00,False,0,9,10,1-10
4969256,1,2067-03-29 08:40:00,2067-03-30 00:25:00,False,0,9,10,1-10